<div class="alert alert-danger" role="alert">
  Dado un usuario en /value, Cuando aprieta el botón Search,
  Entonces se muestra en pantalla el valor del bitcoin en dolares y euros.
</div>

<div class="alert alert-danger" role="alert">
  Dado el nuevo botón visible, Cuando se aprieta el botón, Entonces viajo a la
  ruta /detail y veo listados (dinámicamente) valores del bitcoin en dolares y euros que fui obteniendo
  Y valor mas alto en dolares con un estilo o color distinto (de la manera que
  quieran lo tienen que diferenciar) 
  [En caso de existir varios con el mismo valor pueden pintar uno solo o todos los que tengan el mismo valor maximo]
</div>

<div class="alert alert-danger" role="alert">
  <h2>Se evaluará que no se utilice 'any' a la hora de tipar una variable.</h2>
</div>
<div class="alert alert-danger" role="alert">
  <h2>Para obtener los valores del bitcoin puede consultar 'https://api.coindesk.com/v1/bpi/currentprice.json'</h2>
</div>
<div class="alert alert-danger" role="alert">
  <h1>RECUERDEN QUE DEBEN IMPLEMENTAR UNA SPA, el RESULTADO al que ustedes lleguen debe tener este comportamiento visto en clase</h1>
</div>
